<h2>Artist Details</h2>
<p id="notice"><%= notice %></p>
<p id="name">Name: <%=@artist.first_name %> <%= @artist.last_name %></p>
<p id="email">Email: <%=@artist.email %></p>
<div id="address">
	<p>Contact Address: </p>
	<%=@artist.contact_address_one %><br />
	<%=@artist.contact_address_two %><br />
	<%=@artist.contact_city %>, <%= @artist.contact_state %> 
	<%=@artist.contact_postal%><br />
</div>
<div class="actions">
	<%= button_to 'Edit Info', edit_artist_path(@artist) %>
</div>
<div class="exhibitions">
	<h4>Open Exhibitions</h4>
	<p>Click an exhibition to apply to it.</p>
	<%= render "exhibitions/exhibitions_module" %>
</div>

<div class="applications">
	<h4>Completed Applications</h4>
	<%= render partial: "applications/applications_module",
		:locals => { object: @artist } %>
</div>

