<%= form_for @submission, :html => 
										{	:class => 'dropzone',
					 						:id => 'submissions-uploader',
											:enctype => "multipart/form-data"
																		 } do |f| %>
																		 
																		 
																		 
	<% unless @application.nil? %>
		<%= f.hidden_field :application_id, :value => @application.id %>
		<%= f.hidden_field :artist_id, :value => @application.artist_id %>
	<% end %>

  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<!-- Redirect browsers with JavaScript disabled to the origin page -->
<% end %>
