<div class="submissions artist submissions">
	<h4>Submissions</h4>
	<div class="navbar">
		<%= button_to "Add Images", new_artist_submission_path(@artist) %>
		<%= button_to "Bulk Edit Images", artist_submissions_path(@artist) %>
	</div>
	<% @submissions.each do |submission| %>
		<%= link_to submission do |link| %>
			<img class="submission submission-<%= submission.id %>"
				src="<%= submission.slide.thumb %>" />
		<% end %>
	<% end %>
			
</div>
